body {
    background-color: #cdc;
}

header {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 10px auto;
    font-size: 30px;
}

header h1 {
    margin: 0 auto;
}

/* Displayers */

.screen {
    display: inline-block;
    margin-bottom: 6px;
    margin-right: 10px;
}

#time-screen {
    float: right;
}

/* Button`*/

#new-game-button {
    margin: 5px auto;
    width: 100px;
    font-weight: 900;
    display: block;
    color: white;
    background-color: #000;
    border: none;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

/* Game-zone */

#game-zone {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    top: 120px;
}

.square {
    display: inline-block;
    width: 15px;
    height: 15px;
    float: left;
    text-align: center;
}

.square p {
    font-size: 15px;
    font-weight: 700;
    margin: 0px 0px 1px;
    position: relative;
    bottom: 1px;
    color: #ff9;
    cursor: default;
}

.square-unclicked {
    background-color: #0C0;
    border-top: 2px solid #090;
    border-left: 2px solid #090;
    border-bottom: 2px solid #0F0;
    border-right: 2px solid #0F0;
}

.square-unclicked:active {
    background-color: #00b300;
}

.square-clicked {
    background-color: #008000;
    border: 2px solid #008000;
}

#board {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0px);
}
